#join-channel-options {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 9999999;

    #the-exit-button {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        transition: 1s;

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.1);
        }
    }

    #join-channel-options-window {
        position: absolute;
        height: 600px;
        width: 600px;
        left: calc(50% - 300px);
        top: calc(50% - 300px);
        background-color: rgba(225,225,225,1);
        border: rgba(0,0,0,0.5) solid 1px;
        border-radius: 10px;

        #join-channel-top {
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-bottom: rgba(75,75,75,1) solid 0.5px;

            #channel-name-wrapper {
                width: 75%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                input {
                    padding: 10px;
                    margin: 0;
                    width: 70%;
                    height: 30%;
                    font-size: 24px;
                    border-radius: 25px;
                    text-align: center;
                    border: rgba(0,0,0,0.5) solid 0.5px;
                }

                #characters-remain {
                    width: 100%;
                    height: calc(40% - 20px);
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }

            #create-channel-button-wrapper {
                width: 25%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                button {
                    border: rgba(75,75,75,1) solid 1px;
                    height: 50%;
                    width: 80%;
                    border-radius: 25px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        #join-channel-bottom {
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            #join-channel-inner-wrapper {
                width: 60%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-right: rgba(75,75,75,1) solid 0.5px;

                #existing-channel-name-wrapper {
                    height: calc(100% - 30px);
                    width: calc(100% - 30px);
                    display: block;
                    border: rgba(75,75,75,1) solid 0.5px;
                    overflow-y: auto;
                    overflow-x: hidden;

                    #no-channels-found-label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        color: rgba(150,150,150,1);
                    }

                    .existing-channel-option {
                        width: 100%;
                        display: block;
                        border-bottom: rgba(0,0,0,0.5) solid 1px;

                        label {
                            width: calc(100% - 10px);
                            min-height: 30px;
                            display: flex;
                            align-items: center;
                            padding-left: 10px;
                            border-bottom: rgba(0,0,0,0.25) solid 0.25px;
                            transition: 1s;
                            background-color: rgba(0,0,0,0.1);
                            color: rgba(75,75,75,1);

                            &:hover {
                                cursor: pointer;
                                background-color: rgb(51, 166, 99);
                                color: whitesmoke;
                            }
                        }
                        
                        #join-existing-channel-button-wrapper {
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            #search-channel-wrapper {
                width: 40%;
                height: 100%;
                display: block;

                #search-requirements {
                    width: 100%;
                    height: 30%;
                    border-bottom: rgba(75,75,75,1) solid 0.5px;
                    overflow-y: auto;
                    scrollbar-width: none;

                    #available-search-requirements-label {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(101, 25, 10);
                        color: whitesmoke;
                        font-size: 16px;
                        font-weight: 500;
                        border-bottom: rgba(0,0,0,0.5) solid 0px;
                        //box-shadow: rgba(0,0,0,0.5) 5px 5px 7px;
                        z-index: 9999;
                        //text-decoration: underline;
                        user-select: none;
                        //margin-bottom: 10px;
                    }

                    .search-requirement-option {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(159, 23, 8);
                        color: whitesmoke;
                        font-size: 14px;
                        border-bottom: rgba(0,0,0,0.5) solid 0.5px;
                        transition: 1s;
                        z-index: 0;
                        user-select: none;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(75,75,75,1);
                            color: rgba(225,225,225,1);
                            z-index: 99;
                        }
                        
                    }
                }

                #attached-search-requirements {
                    width: 100%;
                    height: 70%;
                    overflow-y: auto;
                    scrollbar-width: none;
                    display: block;

                    .attached-search-requirement-option {
                        width: 100%;
                        display: block;
                        border-bottom: rgba(0,0,0,0.5) solid 1px;

                        label {
                            width: 100%;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        #attached-search-requirement-element {
                            width: 100%;
                            padding: 10px 0px 10px 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            input {
                                margin: 0;
                                padding: 0;
                                width: 80%;
                                height: 25px;
                                text-align: center;
                                font-size: 16px;
                                border: rgba(0,0,0,0.5) solid 0.5px;
                                border-radius: 15px;
                            }
                        }

                        #remove-attached-requirement-button {
                            width: 100%;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 1s;
                            color: rgba(0,0,0,0.75);

                            &:hover {
                                cursor: pointer;
                                background-color: rgba(151, 14, 14, 0.758);
                                color: whitesmoke;
                            }
                        }
                    }

                    #search-channels-button-wrapper {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            width: 80%;
                            height: 70%;
                            border: rgba(75,75,75,1) solid 1px;
                            border-radius: 25px;

                            &:hover {
                                cursor: pointer;
                            }   
                        }
                    }
                }
            }
        }
    }
}