/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Mar 27, 2025, 9:54:13 PM
    Author     : justinzhu
*/

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 77, 77, 1);
    border: rgba(0,0,0,0.75) solid 1.5px;
    position: relative;
    
    #cos {
        color: rgba(128, 166, 192, 1);
    }
    
    #mo {
        color: rgba(192, 192, 192, 1);
    }
}

@media only screen and (max-width: 1000px){

    #logo {
        
    }
}
