/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 7, 2025, 6:09:38 PM
    Author     : justinzhu
*/

#albums {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: center;

    &:focus {
        //z-index: 9999999999;
    }

    #albums-top {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0,0,0,0.0);

        #editor-wrapper {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #albums-label {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                user-select: none;
                font-size: 18px;
                font-weight: bold;
                font-family: sans-serif;
                color: rgba(100,100,100,1);
            }
        }
    }

    #albums-wrapper {
        width: 100%;
        height: 80%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .album-cover-wrapper {
            width: 200px;
            height: 90%;
            display: inline-block;
            margin: 0px 25px 0px 25px;
        }
    }

    .unselectable-text {
        user-select: none;

        * {
            pointer-events: none;
        }
    }
}

@media only screen and (max-width: 1000px) {

    #albums {

        #albums-top {

            #editor-wrapper {

            }

            #albums-label {
                
                label {
                    font-size: 16px;
                }
            }
        }

    }
}