/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 7, 2025, 6:09:38 PM
    Author     : justinzhu
*/

#albums {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    margin-top: 5%;
    
    &:hover {
        z-index: 9999999;
    }
    
    #albums-top {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #editor-wrapper {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #albums-label {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                font-size: 0.75vw;
                //font-weight: bold;
                font-family: sans-serif;
                color: rgba(100,100,100,1);
            }
        }
    }
    
    #albums-wrapper {
        width: 100%;
        height: 80%;
        white-space: nowrap;            
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        .album-cover-wrapper {
            width: 20%;
            height: 90%;
            display: inline-block;
            margin: 0px 25px 0px 25px;
        }
    }
    
    .unselectable-text {
        user-select: none;

        * {
            pointer-events: none;
        }
    }
}