/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : May 2, 2025, 11:43:41 PM
    Author     : justinzhu
*/

#main-video {
    height: 100%;
    width: 100%;
    
    #video-display {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.85);
    }
}