#json-type-contents {
    width: 100%;
    height: 100%;
    position: relative;
    //background-color: rgba(0,0,0,0.25);
    z-index: 99999999;
    display: block;
    position: relative;
    overflow: hidden;

    #background-image {
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        opacity: 0.05;
        z-index: -1;
    }

    #add-button-wrapper {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        #add-entry-button {
            padding: 10px 20px 10px 20px;
            font-size: 16px;
            //font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center; 
            border-radius: 25px;
            border: rgba(0,0,0,0.5) solid 0.5px;
            box-shadow: 0px 0px 5px rgba(0,0,0,25);
            transition: 0.5s;
            background-color: rgba(50,50,50,0.85);
            color: rgba(255,255,255,0.85);

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
                background-color: rgba(150,150,150,0.85);
                color: black;
            }
        }
    }

    #editor-popup {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 9999;
        top: 0px;
        left: 0px;

        #exit-popup {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 0;
            top: 0px;
            left: 0px;
            background-color: rgba(0,0,0,0.5);
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0);
            }
        }

        #json-editor-wrapper {
            width: 100%;
            position: relative;
            background-color: rgb(235,235,235);
            box-shadow: rgba(0,0,0,0.5) 0px 10px 10px;
        }
    }

    #json-info-details {
        width: 100%;
        height: calc(100% - 100px);
        z-index: 99;
        //box-shadow: rgba(0,0,0,0.25) 5px 5px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
        scrollbar-width: none;

        #json-data-label {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: calc(18px);
        }

        #add-content-editor-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #details {
            width: 60%;
            height: calc(100% - 50px);
            display: block;

            &::-webkit-scrollbar {
                display: none;
            }

            .detail-wrapper {
                width: 100%;
                min-height: 35px;
                margin: 50px 0px 50px 0px;
                background-color: rgba(255,255,255,0.5);
                border-radius: 25px;
                padding: 10px;

                #detail-index {
                    width: 100%;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    //text-decoration: underline;
                }

                #detail-segments-wrapper {
                    width: 100%;
                    min-height: 35px;
                    display: block;
                    margin: 25px 0px 0px 0px;

                    .detail-segment {
                        width: 100%;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        border-bottom: rgba(0,0,0,0.5) solid 0.5px;
                        z-index: 1;
                        position: relative;

                        &:hover {
                            z-index: 999 !important;
                        }

                        &:last-child {
                            border-bottom: none
                        }

                        #detail-segment-label {
                            width: 25%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            color: rgba(0,0,0,0.75);
                            font-size: calc(14px);
                        }

                        #detail-segment-value {
                            width: 75%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: calc(14px);
                        }
                    }
                }

                #buttons-wrapper {
                    width: 100%;
                    padding: 15px 0px 15px 0px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .button {
                        padding: calc(10px);
                        border: rgba(0,0,0,0.5) solid 0.5px;
                        border-radius: 25px;
                        background-color: rgba(50,50,50,0.85);
                        box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
                        transition: 0.5s;
                        font-size: calc(13px);
                        color: rgba(255,255,255,0.85);

                        &:hover {
                            cursor: pointer;
                            background-color: darkgrey;
                            box-shadow: 0px 0px 0px rgba(0,0,0,0);
                            color: antiquewhite;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    #json-type-contents {
        
        #json-info-details {

            #json-data-label {
                font-size: calc(14px);
            }

            #details {
                width: 90%;

                .detail-wrapper {

                    #detail-segments-wrapper {
                        margin: 5px 0px 0px 0px;

                        .detail-segment {
                            padding: 5px 0px 5px 0px;

                            #detail-segment-value {
                                font-size: calc(16px);
                                width: 70%;
                            }

                            #detail-segment-label {
                                font-size: calc(12px);
                                width: 30%;
                            }
                        }
                    }

                    #delete-button-wrapper {

                        #delete-button {
                            font-size: calc(14px);
                        }
                    }
                }
            }
        }
    }
}