#comment-container-wrapper {
    width: 100%;
    position: relative;
    z-index: 99;

    #comment-top-section {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        #commenter-name-wrapper {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                font-size: 12px;
                color: rgba(0,0,0,0.75);
                font-weight: 600;
                padding: 5px 20px 5px 20px;
            }
        }

        #timestamp-wrapper {
            width: 50%;
            height: 100%;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #comment-middle-section {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #commenter-profile-picture-wrapper {
            width: 75px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        #comment-display-wrapper {
            width: calc(85% - 75px);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            #the-comment-content {
                padding: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border-radius: 5px;
                background-color: rgba(245,245,245,1);
                border: rgba(0,0,0,1) dotted 0.75px;
                overflow-y: auto;
                font-size: 13px;
                scrollbar-width: none;
                white-space: pre-wrap;
                overflow-wrap: break-word;
            }
        }
    }

    #comment-bottom-section {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #reply-wrapper {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            #show-reply-button {
                
                &:hover {
                    cursor: pointer;

                    div {
                        color: darkorange;
                    }
                }

                div {
                    font-size: 14px;
                    color: rgb(50,50,50);
                    transition: 0.5s;
                    user-select: none;
                }
            }
        }

        #reaction-wrapper {
            width: calc(50%);
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        #comment-editor-wrapper {
            width: 25%;
            height: 100%;
            position: relative;

            #comment-editors {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                #edit-button, #delete-button {
                    font-size: 12px;
                    color: rgba(50,50,50,1);
                    transition: 0.5s;

                    &:hover {
                        cursor: pointer;
                        color: darkorange;
                    }
                }
            }
        }
    }
}

#reply-to-comment-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;

    #the-back-button {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(235,235,235,1);
        color: rgba(50,50,50,1);
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            background-color: rgba(100,100,100,1);
            color: rgba(200,200,200,1);
        }
            
        label {
            font-size: 14px;
            font-weight: bold;
        }
    }

    #original-comment-wrapper {
        width: 100%;
        position: relative;
        background-color: rgba(225,225,225,1);

        #the-original-comment-label {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
    }

    #replies-to-comment-container {
        width: 100%;

    }
}