#search-date-input-wrapper {
    width: 100%;
    height: 150px;
    display: block;

    #label-wrapper {
        width: 100%;
        height: calc(50% - 25px);

        #search-label {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #value-wrapper {
        width: 100%;
        height: calc(50% - 25px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
            #calendar-wrapper {
                display: flex;
            }
        }

        #value {
            padding: 0px;
            width: 100%;
            height: 100%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: calc(0.375vw + 0.375vh);
        }

        #calendar-wrapper {
            width: 20vh;
            height: 20vh;
            position: absolute;
            top: 100%;
            left: 25%;
            display: none;
        }
    }

    #search-option-button-wrapper {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            border: rgba(0,0,0,0.5) solid 0.5px;
            border-radius: 50px;
        }
    }    
}


@media only screen and (max-width: 1000px){
    #search-date-input-wrapper {

        #label-wrapper {

            #search-label {
                font-size: calc(1.25vw + 0.5vh);
            }
        }

        #value-wrapper {

            #value {
                font-size: calc(1.25vw + 0.6vh);
            }

            #calendar-wrapper {

            }
        }


        #search-option-button-wrapper {

            button {
                font-size: calc(1.25vw + 0.5vh);
            }
        }
    }   
}