#big-msg-sheet-cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;

    #popup-box-wrapper {
        width: 450px;
        min-height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: rgba(220,220,220,1);
        border-radius: 15px;
        border: rgba(0,0,0,1) solid 1px;
        box-shadow: -5 5 10px rgba(0,0,0,0.5);

        #popup-base-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding-top: 40px;

            #the-msg-label {
                width: 90%;
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(50,50,50,1);
                margin-bottom: 10px;
            }

            #input-wrapper {
                width: 100%;
                min-height: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 10px;

                #the-input-content-wrapper {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;
                    
                    input {
                        width: 90%;
                        height: 35%;
                        padding: 0px 10px 0px 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 14px;
                        border-radius: 10px;
                        border: rgba(0,0,0,0.5) solid 1px;
                    }

                    .input-option-selection {
                        padding: 5px 10px 5px 10px;
                        font-size: 13px;
                        border: rgba(0,0,0,0.5) solid 0.5px;
                        background-color: rgba(225,225,225,1);
                        transition: 1s;
                        color: rgba(50,50,50,1);
                        border-radius: 5px;
                        margin: 5px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(50,50,50,1);
                            color: rgba(200,200,200,1);
                        }
                    }

                    .input-option-selection.selected {
                        background-color: rgba(0,0,0,1) !important;
                        color: rgba(225,225,225,1);
                    }
                }

                #the-input-submit-wrapper {
                    width: 100%;
                    min-height: 50px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 10px;

                    .button {
                        padding: 10px 15px 10px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: rgba(0,0,0,0.75) solid 0.5px;
                        background-color: rgba(255,255,255,0.85);
                        border-radius: 10px;
                        box-shadow: -5px 5px 10px rgba(0,0,0,0.25);
                        transition: 0.5s;
                        font-size: 15px;
                        
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(50,50,50,0.85);
                            box-shadow: 0px 0px 0px;
                            color: rgba(255,255,255,0.75);
                        }
                    }
                }
            }
        }
    }
}