/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 25, 2025, 2:38:21 PM
    Author     : justinzhu
*/

#single-comment-wrapper {
    width: 95%;
    height: 175px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    //box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    position: relative;
    border: rgba(0,0,0,0.75) solid 0.5px;
    background-color: rgba(235,235,235,1);
    z-index: 999999;
    
    &:first-child {
        margin-top: 30px;
    }

    &:hover {
        #comment-editor-wrapper {
            display: flex;
        }
    }

    #comment-editor-wrapper {
        height: 25px;
        width: 25px;
        position: absolute;
        right: -9px;
        top: -9px;
        display: none;
        justify-content: space-evenly;
        align-items: center;
    }

    #see-who-gave-props-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 999999;

        #the-exit-button {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0,0.5);
            position: absolute;
            z-index: 9;
            transition: 1s;

            &:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
    
    #user-info {
        width: 100px;
        height: 100%;
        display: block;
        color: rgba(100,100,100,1);

        #profile-picture-wrapper {
            width: 100%;
            height: calc(65%);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15%;
            
            #picture {
                width: calc(100%);
                height: calc(100%);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 5px;
                //box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
                transition: 1s;
                opacity: 1;
                border: rgba(0,0,0,0.75) solid 1px;
                
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 0px rgba(0,0,0,0);
                    opacity: 0.75;
                }
            }
        }

        #comment-time-stamp {
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            font-size: 14px;
            color: rgba(50,50,50,1) !important;
        }
    }
    
    #single-comment-inner-wrapper {
        width: calc(100% - 150px);
        height: 100%;
        position: relative;
        display: block;

        #user-info-name {
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
        }
        
        #comment-wrapper {
            width: calc(100%);
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            
            #reply-wrapper {
                width: calc(100% + 100px);
                height: 0px;
                display: none;
                justify-content: center;
                align-items: center;
                transition: 1s;
                opacity: 0;
            }
            
            .active {
                height: 125px !important;
                opacity: 1 !important;
                display: flex !important;
                position: absolute;
                top: calc(100% + 20px);
                left: -85px;
            }
            
            #comment {
                width: calc(100% - 20px);
                height: calc(80% - 20px);
                padding: 10px;
                margin: 0;
                border-radius: 5px;
                border: 1px solid rgba(0,0,0,0.5);
                white-space: pre-wrap;
                color: rgba(100,100,100,1);
                //margin: 15px 15px 0px 15px;
                background-color: rgba(255,255,255,0.5);
                //box-shadow: rgba(0,0,0,0.25) 0px 0px 5px;
                overflow-y: auto;
                scrollbar-width: none;
            }
            
            #comment-responses-wrapper {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                #reply {
                    width: 50px;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    
                    label {
                        color: rgb(34, 2, 2);
                        transition: 1s;
                        //text-shadow: rgba(0,0,0,0.25) 0px 0px 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;
                        
                        &:hover {
                            color: slateblue;
                            text-shadow: rgba(0,0,0,0) 0px 0px 0px;
                            cursor: pointer;
                        }
                    }
                }

                #props-wrapper {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    #likes-wrapper, #dislikes-wrapper {
                        min-width: 75px;
                        height: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-right: 15px;
                    }
                }
                
                #emojis-wrapper {
                    width: calc(40% - 50px);
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }
        }
    }
}

.active-reply {
    margin-bottom: 150px !important;
}