/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 21, 2025, 9:25:21 PM
    Author     : justinzhu
*/

#photo-comments-wrapper {
    width: 100%;
    height: 100%;
    display: block;

    #comment-header {
        width: 90%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: rgba(0,0,0,0.5) solid 0.5px;
        color: rgb(68, 59, 59);
        font-size: 24px;
        font-weight: bold;
        position: relative;
        left: 5%;
    }
    
    #comments-list-area {
        width: 100%;
        height: calc(100% - 200px);
        overflow: auto;
        display: block;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        .comment-wrapper {
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            left: 2.5%;
        }
    }
    
    #comment-input-area {
        width: 100%;
        height: 125px;
        display: block;
    }
}

@media only screen and (max-width: 1000px){
    
    #photo-comments-wrapper {

        
    }
}