/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 21, 2025, 9:25:21 PM
    Author     : justinzhu
*/

#photo-comments-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    
    #comments-list-area {
        width: 100%;
        height: calc(100% - 75px);
        overflow: auto;
        display: scroll;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    #comment-input-area {
        width: 100%;
        height: 75px;
        display: block;
    }
}

@media only screen and (max-width: 1000px){
    
    #photo-comments-wrapper {

        
    }
}