/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 7, 2025, 7:22:43 PM
    Author     : justinzhu
*/

#single-photo-thumbnail {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
        cursor: pointer;

        #enlarge-photo-button-wrapper {
            opacity: 1;
            display: block;
        }
    }

    #enlarge-photo-button-wrapper {
        width: 90%;
        height: 77.5%;
        position: absolute;
        opacity: 0;
        transition: 0.5s;
        display: none;
        z-index: 999;
        background-color: rgba(225,225,225,0.5);
        top: 5%;
        left: 10%;
        border-radius: 5px;
        overflow: hidden;

        #enlarge-photo-button, #enlarge-photo-with-comments-button {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(25,25,25,1);
            transition: 0.5s;
            background-color: rgba(0,0,0,0);

            &:hover {
                cursor: pointer;
                background-color: rgba(50,50,50,1);
                color: rgba(250,250,250,1);
            }

            label {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
    #photo-thumbnail {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        box-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
        transition: 0.5s;
        position: relative;
        border: rgba(0,0,0,0.5) solid 0.5px;
        z-index: 9;
        
        &:hover {
            cursor: pointer;
            box-shadow: rgba(0,0,0,0.5) -5px 5px 10px;
            position: relative;
        }
    }

    #comment-count-wrapper{
        width: 100%;
        padding: 20px 0px 5px 0px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            color: orange;
        }
    }
}