/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : May 22, 2025, 6:23:17 PM
    Author     : justinzhu
*/

#viewer-entry {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    #name {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75vw;
        padding: 7.5px 0px 7.5px 0px;
        position: relative;
        
        #request-live-buttons {
            width: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            
            #label {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            #button {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:hover { 
                    cursor: pointer;
                }
            }
        }
    }
    
    #portrait-wrapper {
        width: 20%;
        height: 2.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        #portrait {
            width: 90%;
            height: 90%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.25);
            border-radius: 1px;
            background-color: rgba(0,0,0,0.75);
        }
    }
}