#connections-template-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &:hover {
        z-index: 9999;
    }

    #connections-label {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #connections-editor-wrapper {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        label {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }

    #connections-list {
        width: 100%;
        height: 80%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;

        .profile-thumbnail-wrapper {
            width: 200px;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 1000px){
    
    #connections-template-wrapper {

        #connections-label {
            font-size: calc(1.25vw 0.6vh);
        }
    }
}