/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Mar 31, 2025, 12:10:16 AM
    Author     : justinzhu
*/

#entrance-options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    background-color: rgba(1, 4, 2, 0.6);
}