/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Mar 28, 2025, 6:12:15 PM
    Author     : justinzhu
*/

html, body, #root {
    margin: 0px;
    height: 100%;
    width: 100%;

    * {
        font-family: sans-serif;
    }
}
