#online-users {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    &:hover {
        cursor: pointer;

        #online-users-list {
            display: block;
        }
    }

    #online-users-label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(50,50,50,1);
        color: rgba(255,255,255,0.75);
        font-size: 14px;        
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            color: rgba(255,255,255,1) !important;
            background-color: rgba(255,255,255,0.25);
        }
    }

    #online-users-list {
        width: 400px;;
        left: 0;
        max-height: 375px;
        position: absolute;
        top: 100%;
        display: none;
        overflow: auto;
        border: rgba(0,0,0,0.5) solid 0.5px;
        border-top: none;
        border-bottom: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .online-user-entry {
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba(225,225,225,1);
            border-bottom: rgba(0,0,0,0.5) solid 0.5px;
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                background-color: rgba(200,200,200,1);
            }

            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            #profile-thumbnail-wrapper {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #online-profile-status {
                width: calc(100% - 100px);
                height: 100%;
                display: block;

                #name-tag, #status {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }

                #status {

                    #greendot-wrapper {
                        width: 10%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items :center;

                        #green-dot {
                            height: 15px;
                            width: 15px;
                            border-radius: 20px;
                            border: rgba(50,50,50,1) solid 0.5ps;
                            background-color: rgb(28, 152, 48);
                            //box-shadow: rgba(0,0,0,0.25) 0px 2.5px 5px;
                        }
                    }

                    #online-label {
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    #streaming-option-wrappers {
                        width: 70%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        #join-another-stream-option-buttons {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;

                            #streaming-label {
                                width: 75%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                font-size: 13px;

                                &:hover {
                                    cursor: pointer;
                                    color: green;

                                    #stream-information {
                                        display: flex;
                                    }
                                }

                                #stream-information {
                                    min-width: 150px;
                                    height: 35px;
                                    position: absolute;
                                    display: none;
                                    justify-content: center;
                                    align-items: center;
                                    border: rgba(0,0,0,0.5) solid 0.5px;
                                    background-color: white;
                                    border-radius: 10px;
                                    left: 0%;
                                    bottom: 75%;
                                    font-size: 13px;
                                    padding: 2.5px 5px 2.5px 5px;
                                    text-align: center;
                                    box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
                                }
                            }

                            #join-stream-button-wrapper {
                                width: 25%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                #join-stream-button {
                                    padding: 5px 10px 5px 10px;
                                    border-radius: 50px;
                                    background-color: rgba(50,50,50,1);
                                    color: rgba(205,205,205,1);
                                    font-size: 14px;
                                    transition: 0.5s;

                                    &:hover {
                                        cursor: pointer;
                                        background-color: rgba(150,150,150,1);
                                        color: rgba(75,75,75,1);
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}