#other-channel {
    height: 100%;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background: rgba(75,75,75,0.0);

    &:hover {
        background-color: rgba(0,0,0,0.85) !important;
        cursor: pointer;

        label {
            color: rgba(225,225,225,0.85) !important;
        }
    }

    label {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: rgba(225,225,225,0.85) !important;
        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }
}

#other-channel.selected-channel {
    background-color: rgba(0,0,0,0.85);

    label {
        color: rgba(225,225,225,0.85) !important;
    }
}

@media only screen and (max-width: 1000px){
    #other-channel {
        padding: 0px 10px 0px 10px;

        label {
            font-size: 13px;
        }
    }
}