/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Jun 1, 2025, 3:36:53 PM
    Author     : justinzhu
*/

#profile-photo-editor {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    
    #editor-button {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: blue;
        
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}