/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Jun 1, 2025, 3:36:53 PM
    Author     : justinzhu
*/

#profile-photo-editor {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    
    #editor-button {
        width: 25%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(50,50,50,0.85);
        background-color: rgba(255,255,255,0.5);
        transition: 1s;
        border-radius: 50px;
        border: rgba(0,0,0,0.25) solid 0.5px;
        
        &:hover {
            cursor: pointer;
            color: white;
            background-color: rgba(100,100,100,0.75);
        }
    }
}

.enlarged-profile-photo-editor {
    z-index: 9999999;
}