#other-channel {
    height: 100%;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background: rgba(0,0,0,0);

    &:hover {
        background-color: rgba(0,0,0,0.1) !important;
        cursor: pointer;
    }

    label {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: rgba(225,225,225,1);
        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }
}

#other-channel.selected-channel {
    background-color: rgba(0,0,0,0.2);
}