/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 4, 2025, 12:14:10 AM
    Author     : justinzhu
*/

#profile-info {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 0;
    //border-bottom: rgba(0,0,0,1) solid 1px;
    
    &:hover {
        z-index: 9999999;
    }
    
    #profile-picture-wrapper {
        width: 50%;
        height: 100%;
    }
    
    #profile-info-wrapper {
        width: 50%;
        height: 100%;
        //border-left: rgba(100,100,100,1) solid 1px;
    }
}

@media only screen and (max-width: 1000px) {

    #profile-info {
        flex-direction: column !important;

        #profile-picture-wrapper {
            width: 100%;
            height: 60%;
        }

        #profile-info-wrapper {
            width: 100%;
            height: 40%;
        }

    }
}