/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 4, 2025, 10:09:52 PM
    Author     : justinzhu
*/

#profile-info-data {
    width: 100%;
    height: 100%;
    display: block;
    
    #profile-data-label-wrapper {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        //border-bottom: rgba(0,0,0,1) solid 1px;
        
        label {
            //text-decoration: underline;
            //font-weight: bold;
            font-size: 0.75vw;
            font-family: sans-serif;
            color: rgba(100,100,100,1);
        }
    }
    
    .unselectable-text {
        user-select: none;
        
        * {
            pointer-events: none;
        }
    }
    
    #info-wrapper {
        width: 100%;
        height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        margin-top: 25px;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
           
        
        .individual-info-wrapper {
            width: 90%;
            height: 10%;
            border-bottom: rgba(0,0,0,0.25) solid 1px;
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:last-child {
                border-bottom: none;
            }
            
            #info-label {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: rgba(100,100,100,1);
                font-size: 0.75vw;
            }
            
            #info-value {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1vw;
            }
        }
    }
}