/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 4, 2025, 10:09:52 PM
    Author     : justinzhu
*/

#profile-info-data {
    width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
    position: relative;

    &:hover {
        z-index: 9999999;
    }
    
    #profile-data-label-wrapper {
        width: 100%;
        height: 7.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, lightgray, whitesmoke );
        //border-bottom: rgba(0,0,0,1) solid 1px;
        
        label {
            //text-decoration: underline;
            //font-weight: bold;
            font-size: 18px;
            font-family: sans-serif;
            font-weight: bold;
            color: rgba(100,100,100,1);
            user-select: none;
        }
    }
    
    .unselectable-text {
        user-select: none;
        
        * {
            pointer-events: none;
        }
    }

    #gap {
        width: 100%;
        height: 2.5%;
        display: flex;

        #left {
            width: 50%;
            height: 100%;
        }

        #right {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            //background: linear-gradient(to right, whitesmoke 0%, lightgray 50%, whitesmoke 100%),
              //          linear-gradient(to bottom, whitesmoke 0%, lightgray 100%);   
            //background-blend-mode: lighten;
        }
    }
    
    #info-wrapper {
        width: 100%;
        height: 90%;
        overflow: visible;
        display: block;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &:hover {
            z-index: 9999999;
        }
           
        
        .individual-info-wrapper {
            width: 90%;
            height: 10%;
            border-bottom: rgba(0,0,0,0.4) solid 1px;
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                z-index: 9999999;
            }

            &:last-child {
                border-bottom: none;
            }
            
            #info-label {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: rgba(75,75,75,1);
                font-size: 16px;
                font-weight: 700;
            }
            
            #info-value {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                //background: linear-gradient(to right, whitesmoke 0%, lightgray 50%, whitesmoke 100%);

                &:hover {
                    z-index: 9999999;
                }
            }

        }
    }
}

@media only screen and (max-width: 1000px) {

    #profile-info-data {

        #profile-data-label-wrapper {

            label {
                font-size: calc(1vw + 0.75vh);
            }
        }

        #info-wrapper {
            overflow: auto;

            .individual-info-wrapper {

                #info-label {
                    font-size: 15px;
                }

                #info-value {
                    font-size: 15px;
                }
            }
        }
    }
}