/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 28, 2025, 4:11:52 PM
    Author     : justinzhu
*/

#explore-template {
    width: 100%;
    height: 100%;
    display: block;

}