#photos-container-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    #editor-buttons-wrapper {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #album-management-delete-buttons-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 40%;
            padding: 0 15px 0 15px;

            #delete-album-button {
                padding: 5px 10px 5px 10px;
                font-size: 12px;
                border: rgba(0,0,0,0.5) solid 0.5px;
                border-radius: 25px;
                background-color: rgb(203, 219, 224);
                box-shadow: rgba(0,0,0,0.25) 0px 0px 0px;
                transition: 0.5s;
                text-align: center;
                
                &:hover {
                    cursor: pointer;
                    box-shadow: rgba(0,0,0,0) 0px 0px 5px;
                    background-color: lightgray;
                }
            }


            #delete-photo-button {

                button {
                    border-radius: 50px;
                    border: rgba(0,0,0,0.5) solid 0.5px;
                    padding: 5px 10px 5px 10px;
                    transition: 0.5s;
                    font-size: 12px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        #album-management-edit-buttons-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            padding: 0 15px 0 15px;
            width: 60%;

            #title-editor, #description-editor {
                padding: 5px 10px 5px 10px;
                font-size: 12px;
                border-radius: 50px;
                border: rgba(0,0,0,0.5) solid 0.5px;
                transition: 0.5s;
                background-color: rgba(50,50,50,1);
                color: rgba(225,225,225,1);

                &:hover {
                    cursor: pointer;
                    background-color: rgba(225,225,225,1);
                    color: rgba(50,50,50,1);
                }
            }

            #add-photos-section {
                height: 100%;
                padding: 15px;
                font-size: 16px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                #upload-photo-selections-wrapper {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    height: 100%;
                    margin-right: 15px;

                    #upload-file-button {
                        padding: 5px 10px 5px 10px;
                        font-size: 12px;
                        border-radius: 50px;
                        border: rgba(0,0,0,0.5) solid 0.5px;
                        transition: 0.5s;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(0,0,0,0.25);
                        }
                    }
                }

                #upload-button-wrapper {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        border-radius: 50px;
                        border: rgba(0,0,0,0.5) solid 0.5px;
                        padding: 5px 10px 5px 10px;
                        transition: 0.5s;
                        font-size: 12px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }

    #photos-container-editor-photos-wrapper{
        width: 100%;
        height: calc(100% - 50px);

    }
}

@media only screen and (max-width: 1000px) {

    #photos-container-editor {

        #editor-buttons-wrapper {
            height: 100px;
            flex-direction: column;

            #album-management-delete-buttons-wrapper {
                width: 100%;
                height: 50%;

                #delete-album-button {
                    border-radius: 50px;
                    font-size: calc(12px);
                }

                #delete-photo-button {
                    
                    button {
                        font-size: calc(12px);
                    }
                }
            }

            #album-management-edit-buttons-wrapper {
                width: 100%;
                height: 50%;

                #title-editor, #description-editor {
                    text-align: center;
                    font-size: 11px;
                }

               #add-photos-section {
                    width: 40%;
                    height: 20%;
                    padding: 0;

                    #upload-photo-selections-wrapper {
                        height: 100%;

                        label {
                            text-align: center;
                            font-size: 11px;
                        }

                        input {
                            height: 75%;
                            font-size: calc(11px);
                            text-align: center;
                        }
                    }

                    #upload-button-wrapper {

                        button {
                            font-size: calc(11px);
                            text-align: center;
                        }
                    }
                }
            }
 
        }

        #photos-container-editor-photos-wrapper {
            height: calc(100% - 100px);
        }

    }
}
