
#text-type {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #value-wrapper {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #value {
            padding: 0px;
            width: 100%;
            height: 100%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.75vw;
        }
    }

    #editor {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5vw;
    }
}