/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 3, 2025, 1:59:27 AM
    Author     : justinzhu
*/

#explore {
    height: 100%;
    width: 100%;
    display: block;
    overflow: auto;    
    background-color: blue;
}