/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Jun 7, 2025, 6:21:36 PM
    Author     : justinzhu
*/

#album-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #add-button {
        padding: 0px 20px 0px 20px;
        border-radius: 50px;
        //border: rgba(0,0,0,0.5) solid 0.5px;
        //background-color: darkorange;
        //box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
        transition: 1s;
        color: rgba(50,50,50,0.85);
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: rgba(19, 57, 106, 0.599);
            color: white;

            #new-album-icon {
                opacity: 1;
            }
        }

        label {
            user-select: none;
            
            &:hover {
                cursor: pointer;
            }
        }

        #new-album-icon {
            height: 40px;
            width: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
        }
    }
}

@media only screen and (max-width: 1000px) {

    #album-editor {

        #add-button {
            padding: 5%;
            font-size: calc(1.25vw + 0.5vh);
        }

    }
}