/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 3, 2025, 9:16:22 PM
    Author     : justinzhu
*/

#profile-picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    
    #profile-picture-image-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        
        #profile-photo {
            //aspect-ratio: 1 / 1;
            height: 100%;
            width: 100%;
            background-position: center 30%;
            background-size: cover;
            background-repeat: no-repeat;
            border-bottom-right-radius: 5px;
            //border-radius: 250px;
            border: rgba(55,55,55,1) solid 1px;
            //box-shadow: 5px 5px 14px rgba(0,0,0,0.5);
            transition: 1s;
            //z-index: 99;
            
            &:hover {
                cursor: pointer;
                box-shadow: 5px 5px 1px rgba(0,0,0,0.5);
            }
        }
    }
}

.enlarged-photo {
    z-index: 99999999;
}

@media only screen and (max-width: 1000px){

    #profile-picture {

        #profile-picture-image-wrapper {

            #profile-photo {
                border-radius: 0px;
            }
        }
    }
}