/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 3, 2025, 9:16:22 PM
    Author     : justinzhu
*/

#profile-picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    
    #profile-picture-image-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 0;
        
        #profile-photo {
            //aspect-ratio: 1 / 1;
            height: calc(100% - 50px);
            width: calc(100% - 1px);
            background-position: center 30%;
            background-size: cover;
            background-repeat: no-repeat;
            border-bottom-right-radius: 15px;
            //border-radius: 250px;
            border-right: rgba(55,55,55,1) solid 1px;
            box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
            transition: 0.5s;
            
            &:hover {
                cursor: pointer;
                box-shadow: -2.5px 5px 5px rgba(0,0,0,0.5);
            }
        }
        
        #name-tag {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            color: rgba(50,50,50,0.85);
        }
    }
}

.enlarged-photo {
    z-index: 99999999 !important;
}

@media only screen and (max-width: 1000px){

    #profile-picture {
        z-index: 999999999;

        #profile-picture-image-wrapper {

            #profile-photo {
                border-radius: 0px;
                height: 100%;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
                z-index: 99;
            }

            #name-tag { 
                height: 0px;
                opacity: 0;
            }
        }
    }
}