#following-connection-list-wrapper {
    width: 100%;
    height: 100%;
    display: block;

    #search-criteria-box-wrapper {
        width: 100%;
        display: block;
        border-bottom: 1px solid #e1e4e8;
        transition: 1s;
    }   

    .crit-focusing {
        height: 500px !important;
    }   

    #search-criteria-box-wrapper.crit-not-focusing {
        height: 200px !important;
    }

    .res-focusing {
        height: calc(100% - 245px) !important;
    }

    #connection-list-container.res-not-focusing {
        height: calc(100% - 545px) !important;
    }


    #following-label {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e1e4e8;
    }

    #connection-list-container {
        width: 100%;
        display: block;
        transition: 1s;
    }
}