#layer_1-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    .layer_1-component-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .layer_1-profile-info-wrapper {
        height: 90%;
    }

    .layer_1-connections-wrapper {
        height: 10%;
    }
}