
#date {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75%;
    transition: 1s;
    position: relative;
    
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1) !important;
        user-select: none;
        color: rgba(0,0,0,0.85) !important;
        
        #the-date-value {
            
        }
        
        #popup {
            display: block;
        }
    }
    
    #popup {
        position: absolute;
        display: none;
        bottom: 100%;
        right: 0%;
    }
}