
#date {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    transition: 1s;
    position: relative;
    border-radius: 5px;

    #the-date-value {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selected-date {
        background-color: rgba(50,50,50,1);
        color: rgba(255,255,255,0.85);
    }
    
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1) !important;
        user-select: none;
        color: rgba(0,0,0,0.85) !important;
        
        #popup {
            display: block;
        }
    }
    
    #popup {
        position: absolute;
        display: none;
        bottom: 100%;
        right: 0%;
    }
}

@media only screen and (max-width: 1000px){

    #date {
        font-size: calc(1vw + 0.4vh);
    }
}