/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 11, 2025, 4:31:38 PM
    Author     : justinzhu
*/

#json-type {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    #value-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;

        #show-button {
            min-width: 100px;
            height: 35px;
            border-radius: 25px;
            background-color: rgba(50,50,50,1);
            box-shadow: rgba(0,0,0,0.5) -5px 5px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(230,230,230,0.75);
            transition: 1s;
            font-size: 13px;
            z-index: 99;

            &:hover {
                cursor: pointer;
                background-color: rgba(182, 192, 204, 0.6);
                color: rgba(50,50,50,0.85);
                box-shadow: rgba(0,0,0,0.5) -2.5px 2.5px 5px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {

    #json-type {

        #value-wrapper {

            #show-button {
                font-size: calc(16px);
                min-width: 100px;
                height: 20px;
            }
        }
    }

    #json-type-contents {
        
        #json-info-details {
            width: 100%;

            #json-data-label {
                font-size: calc(14px);
            }

            #details {

                .detail-wrapper {
                    margin: 2.5vh 0vw 0vh 0vw;

                    #detail-segments-wrapper {
                        margin: 5px 0px 0px 0px;

                        .detail-segment {
                            padding: 5px 0px 5px 0px;

                            #detail-segment-value {
                                font-size: calc(14px);
                            }

                            #detail-segment-label {
                                font-size: calc(16px);
                            }
                        }
                    }

                    #delete-button-wrapper {

                        #delete-button {
                            font-size: calc(14px);
                        }
                    }
                }
            }
        }
    }
}