#comment-container-editor {
    width: 100%;
    position: relative;

    #select-comment-box {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 5px;
        right: 0px;
        top: 0px;
        z-index: 999;
        border: rgba(0,0,0,0.5) dotted 1px;
        font-size: 12px;
        margin: 5px 5px 0px 0px;

        &:hover {
            cursor: pointer;
        }
    }
}