/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : May 2, 2025, 12:31:20 PM
    Author     : justinzhu
*/

#prepare-to-stream {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    
    #video-playback-wrapper {
        width: 100%;
        height: calc(100% - 75px);
        display: block;
    }
    
    #init-stream-buttons-wrapper {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0%;
    }
}

@media only screen and (max-width: 1000px){

    #prepare-to-stream {

        #init-stream-buttons-wrapper {
            font-size: calc(1.25vw + 0.3vh);
        }
    }
}