#post-editor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #the-editor-wrapper {
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: rgba(0,0,0,0.25);
        top: 0%;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999;

        #the-editor-exit-button {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0%;

            &:hover {
                cursor: pointer;
            }
        }
    }


    #buttons-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .post-button {
            height: 40%;
            font-size: calc(0.35vw + 0.35vh);
            padding: calc(0.25vw + 0.25vh);
            border-radius: 50px;
            border: rgba(0,0,0,0.5) solid 0.5px;
            background-color: darkorange;
            color: white;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            transition: 1s;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            &:hover {
                background-color: aqua;
                color: black;
                cursor: pointer;
            }
        }

        .disabled {
            background-color: rgba(0,0,0,0.5) !important;

            &:hover {
                background-color: rgba(0,0,0,0.5) !important;
                cursor: not-allowed;
                color: white;
            }
        }
    }
}
