
text-node {
    display: inline; /* inline element behaves like a span */
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: baseline;

    #text-node-wrapper {
        color: blue;
        margin: 0px !important;
        padding: 0px !important;
        min-width: 0px !important;
        min-height: 0px !important;
        white-space: pre;
        display: inline-block;
        transition: 1s;

        &:hover {
            cursor: pointer;
            color: darkorange;
        }
    }
}
