#comments-container-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    z-index: 9;

    #comments-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        #comment-header {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                font-size: 16px;
                font-weight: bold;
                color: rgb(50,50,50);
                //text-decoration: underline;
            }
        }

        #comment-values-wrapper {
            width: 100%;
            height: calc(100% - 150px);
            display: block;
            overflow-y: auto;
            scrollbar-width: none;

            .single-comment-entry {
                width: 85%;
                position: relative;
                border: rgba(0,0,0,0.75) solid 0.5px;
                left: 7.5%;
                margin-bottom: 25px;
                border-radius: 5px;
                background-color: rgba(235,235,235,0.75);
                position: relative;
                z-index: 9;

                &:hover {
                    z-index: 999 !important;
                }
            }
        }

        #comment-input-wrapper {
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}