#weekdays-display {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .weekday {
        width: calc(100%/7);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(0.4vw + 0.4vh);
        font-weight: bold;
    }
}