#criteria-box-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    #criteria-box-columns-wrapper {
        height: calc(100% - 40px);
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;

        #available-parameters-columns-wrapper {
            background-color: rgba(0,0,0,0.5);
        }

        #available-parameters-columns-wrapper, #search-parameters-columns-wrapper {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            #search-parameters-box-wrapper, #available-parameters-wrapper {
                width: 100%;
                height: 100%;
                display: block;

                #available-parameters-header {
                    background-color:rgb(12, 49, 2);
                    color: rgba(233, 230, 230, 0.85);
                    border-right: rgba(0,0,0,0.5) solid 0.5px;
                }

                #search-parameters-box-header {
                    background-color: rgba(75, 75, 75, 0.75);
                    color: rgb(233, 230, 230);
                }

                #available-parameters-header {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    font-weight: 500;
                    border-bottom: rgba(0,0,0,1) solid 0.5px;
                }

                #search-parameters-box-list {
                    background-color: rgba(0,0,0,0.1);
                    border-left: rgba(0,0,0,0.5) solid 0.5px;
                    width: 100%;
                    height: 100%;

                    #no-search-criteria {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        color: rgba(0,0,0,0.25);
                        user-select: none;
                    }
                }

                #search-parameters-box-list {
                    height: 100% !important;
                }

                #search-parameters-box-list, #available-parameters-list {
                    width: 100%;
                    height: calc(100% - 40px);
                    display: block;
                    overflow-y: auto;
                    scroll-behavior: smooth;
                    //background-color: rgba(0,0,0,0.1);
                    scrollbar-width: none; /* Firefox */
                    -ms-overflow-style: none;  /* Internet Explorer 10+ */
                    &::-webkit-scrollbar { /* WebKit */
                        width: 0;
                        height: 0;
                    }

                    #options-wrapper {
                        width: 100%;
                        display: block;
                        box-shadow: rgba(0,0,0,0.25) 0px 5px 10px;

                        .available-parameter-item {
                            width: 100%;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-bottom: rgba(14, 11, 11, 1) solid 0.5px;
                            transition: 0.5s;
                            background-color: rgba(32, 101, 110, 0.75); 
                            color: rgba(238, 231, 231, 0.75);
                            font-size: 12px;

                            &:hover {
                                cursor: pointer;
                                background-color: rgb(221, 221, 221); 
                                color:  rgb(32, 22, 22);
                            }

                            &:first-child {
                                border-top: rgba(14,11,11,1) solid 0.5px;
                            }
                        }
                    }

                    .search-parameter-item-wrapper {
                        width: 100%;
                        display: block;
                        border-bottom: rgba(0,0,0,0.1) solid 0.5px;
                        margin-bottom: 15px;
                        z-index: 9;
                        position: relative;
                        box-shadow: rgba(0,0,0,0.25) 0px 5px 10px;

                        &:hover {
                            z-index: 999 !important;
                        }

                        &:last-child {
                            margin-bottom: 100px;
                        }

                        #search-parameter-item {
                            width: 100%;
                            display: block;
                            padding: 0px 0 0px 0;
                            background-color: whitesmoke;
                        }

                        #remove-parameter-button-wrapper {
                            width: 100%;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: whitesmoke;

                            button {
                                border: rgba(0,0,0,0.5) solid 0.5px;
                                border-radius: 15px;
                                padding: 5px 15px 5px 15px;
                                font-size: 12px;        
                                transition: 0.5s;
                                background-color: rgb(158, 7, 7);
                                color: rgb(224, 220, 220);

                                &:hover {
                                    cursor: pointer;
                                    background-color: rgb(198, 83, 83); 
                                    color: rgb(236, 227, 227);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        
    #apply-search-button-wrapper {
        width: 100%;
        height: 40px;
        position: relative;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: rgb(49, 46, 46);
        border-top: rgb(50,50,50) solid 0.5px;
        //border-bottom: rgb(50,50,50) solid 0.5px;


        button {
            border: rgba(0,0,0,0.5) solid 0.5px;
            border-radius: 25px;
            padding: 7px 15px 7px 15px;
            margin: 0;
            font-size: 14px;        
            transition: 0.5s;
            background-color: rgb(49, 46, 46);
            color: whitesmoke;

            &:hover {
                cursor: pointer;
                background-color: rgb(98, 124, 103); 
                color: whitesmoke;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    #criteria-box-wrapper {
        
        #criteria-box-columns-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100% - 30px);

            #available-parameters-columns-wrapper, #search-parameters-columns-wrapper {
                height: 100%;

                #search-parameters-box-wrapper, #available-parameters-wrapper {

                    #available-parameters-header{
                        height: 35px;
                        font-size: 11px;
                    }

                    #available-parameters-list {
                        height: calc(100% - 35px);
                    }

                    #search-parameters-box-list {
                        height: calc(100%) !important;
                    }
                }
            }


            #available-parameters-columns-wrapper {
                width: 30%;
            }

            #search-parameters-columns-wrapper {
                width: 70%;
            }
        }

        #apply-search-button-wrapper {
            height: 30px;

            button {
                font-size: 12px;
                padding: 5px 10px 5px 10px;
            }
        }
    }
}