#criteria-box-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    #criteria-box-columns-wrapper {
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        #search-parameters-columns-wrapper {
            width: 60% !important;
        }

        #available-parameters-columns-wrapper, #search-parameters-columns-wrapper {
            height: 100%;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            #search-parameters-box-wrapper, #available-parameters-wrapper {
                width: 100%;
                height: 100%;
                display: block;

                #available-parameters-header {
                    background-color:rgba(100, 100, 100, 0.85);
                    color: rgb(233, 230, 230);
                    border-right: rgba(0,0,0,0.5) solid 0.5px;
                }

                #search-parameters-box-header {
                    background-color: rgba(75, 75, 75, 0.75);
                    color: rgb(233, 230, 230);
                }

                #search-parameters-box-header, #available-parameters-header {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    font-weight: 500;
                    border-bottom: rgba(0,0,0,0.5) solid 0.5px;
                }

                #search-parameters-box-list {
                    background-color: rgba(0,0,0,0.1);
                    border-left: rgba(0,0,0,0.5) solid 0.5px;

                    #no-search-criteria {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        color: rgba(0,0,0,0.25);
                    }
                }

                #search-parameters-box-list, #available-parameters-list {
                    width: 100%;
                    height: calc(100% - 40px);
                    display: block;
                    overflow-y: auto;
                    scroll-behavior: smooth;
                    scrollbar-width: none; /* Firefox */
                    -ms-overflow-style: none;  /* Internet Explorer 10+ */
                    &::-webkit-scrollbar { /* WebKit */
                        width: 0;
                        height: 0;
                    }

                    .available-parameter-item {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-bottom: rgba(255,255,255,0.4) solid 0.5px;
                        transition: 0.5s;
                        background-color: rgba(13, 42, 5, 0.777); 
                        color: rgb(236, 227, 227);
                        font-size: 12px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(221, 221, 221); 
                            color:  rgb(32, 22, 22);
                        }
                    }

                    .search-parameter-item-wrapper {
                        width: 100%;
                        display: block;
                        border-bottom: rgba(0,0,0,0.1) solid 0.5px;

                        &:last-child {
                            margin-bottom: 100px;
                        }

                        #search-parameter-item {
                            width: 100%;
                            display: block;
                            padding: 10px 0 10px 0;
                            background-color: whitesmoke;
                        }

                        #remove-parameter-button-wrapper {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(235,235,235,0.85);

                            button {
                                border: rgba(0,0,0,0.5) solid 0.5px;
                                border-radius: 15px;
                                padding: 5px 15px 5px 15px;
                                font-size: 12px;        
                                transition: 0.5s;
                                background-color: rgb(221, 221, 221);
                                color: rgb(32, 22, 22);

                                &:hover {
                                    cursor: pointer;
                                    background-color: rgb(198, 83, 83); 
                                    color: rgb(236, 227, 227);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
        
    #apply-search-button-wrapper {
        width: 100%;
        height: 40px;
        position: relative;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: rgb(49, 46, 46);
        border-top: rgb(50,50,50) solid 0.5px;
        //border-bottom: rgb(50,50,50) solid 0.5px;


        button {
            border: rgba(0,0,0,0.5) solid 0.5px;
            border-radius: 25px;
            padding: 7px 15px 7px 15px;
            margin: 0;
            font-size: 14px;        
            transition: 0.5s;
            background-color: rgb(49, 46, 46);
            color: whitesmoke;

            &:hover {
                cursor: pointer;
                background-color: rgb(98, 124, 103); 
                color: whitesmoke;
            }
        }
    }
}