
#single-post {
    width: 100%;
    min-height: 300px;

    #title {
        width: 100%;
        padding: 20px 0px 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        color: rgb(73, 43, 12);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        pre {
            width: 90%;
            padding: 2.5%;
            border: rgba(50,50,50,1) solid 0.5px;
            border-radius: 10px;
            color: rgb(50, 50, 50);
            background-color: rgb(232, 236, 239);
            //box-shadow: rgba(0,0,0,0.25) 0px 0px 5px;
        }
    }

    #time-created {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px 15px 0px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 1000px){
    
    #single-post {

        #title {
            font-size: calc(1.25vw + 1vh);
        }
    }

    #body {

        pre {
            font-size: calc(1vw + 0.5vh);
        }
    }

    #time-created {
        font-size: calc(1.25vw + 0.5vh);
    }
}