/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 7, 2025, 7:20:57 PM
    Author     : justinzhu
*/

#album-cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    #album-cover-wrapper {
        width: 90%;
        height: calc(90% - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        
        #album-cover-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 30%; 
            box-shadow: rgba(0,0,0,0.5) 5px 5px 0.5px;
            border-radius: 10px;        
            border: rgba(0,0,0,0.5) solid 1px;
            transition: 1s;
            
            &:hover {
                cursor: pointer;
                box-shadow: rgba(0,0,0,0.5) 5px 5px 14px;
            }
        }
    }
    
    #album-title-wrapper {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background: radial-gradient(ellipse at center, lightgray 1%, whitesmoke 65%);
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1000px) {

    #album-cover {

        #album-title-wrapper {
            font-size: calc(1.25vw + 0.6vh);
        }

    }
}