/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : Apr 7, 2025, 7:20:57 PM
    Author     : justinzhu
*/

#album-cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    #album-cover-wrapper {
        width: 90%;
        height: calc(90% - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        
        #album-cover-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 30%; 
            box-shadow: rgba(0,0,0,0.5) -2.5px 2.5px 5px;
            border-radius: 10px;        
            border: rgba(0,0,0,0.5) solid 1px;
            transition: 0.5s;
            position: relative;
            
            &:hover {
                cursor: pointer;
                box-shadow: rgba(0,0,0,0.5) -10px 10px 14px;

                #album-description {
                    display: flex;
                }
            }

            #album-description {
                padding: 20px;
                background-color: rgba(235,235,235,0.75);
                border: rgba(0,0,0,0.5) solid 0.5px;
                font-size: 12px;
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 15px;
                left: 50%;
                bottom: 25%;
            }
        }
    }
    
    #album-title-wrapper {
        padding: 5px 20px 5px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        //background: radial-gradient(ellipse at center, lightgray 0%, whitesmoke 25%);
        margin-top: 15px;
        //text-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
        background-color: rgba(0,0,0,0);
        transition: 0.5s;
        border-radius: 50px;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.2);
        }
    }
}

@media only screen and (max-width: 1000px) {

    #album-cover {

        #album-title-wrapper {
            font-size: calc(1.25vw + 0.6vh);
        }

    }
}