
#single-post {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 99;

    #title {
        width: calc(90% + 30px);
        height: calc(75px);
        border: rgba(0,0,0,0.75) dotted 0.75px;
        border-radius: 15px;
        border-bottom: none;
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        //background: linear-gradient( to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        color: rgba(0, 0, 0, 0.65);
        box-shadow: rgba(0,0,0,0.05) 2.5px 2.5px 7.5px;
    }

    #body {
        width: 100%;
        height: calc(100% - 175px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        pre {
            width: 90%;
            min-height: 125px;
            max-height: 90%;
            padding: 15px;
            margin-bottom: 75px;
            border: rgba(50,50,50,1) solid 0.5px;
            border-radius: 10px;
            box-shadow: rgba(0,0,0,0.1) 2.5px 2.5px 7.5px;
            white-space: break-spaces;
            color: rgb(50, 50, 50);
            font-size: 13px;
            background-color: rgb(240, 240, 240);
            overflow-y: auto;
            scrollbar-width: none;
        }
    }

    #bottom-body {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #reactions-wrapper {
            width: 400px !important;
            height: 50px;
            position: relative;
            z-index: 9 !important;
        }

        .comment-body-section {
            width: calc(100% / 3);
            z-index: 1;
        }

        #comments-count-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            #open-to-comment-button {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: rgb(13, 110, 148);
                transition: 0.5s;
                text-decoration: underline 0px transparent;
                font-size: 16px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline 1px;
                }
            }
        }

        #time-created {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0px 15px 0px;
            font-weight: 700;
        }
    }
}

#comments-container-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background-color: whitesmoke;

    #post-comments-post-section {
        width: 100%;
        height: 50%;
        z-index: 9;
    }

    #post-comments-section {
        width: 100%;
        height: 50%;
        z-index: 1;
    }
}

@media only screen and (max-width: 1000px){
    
    #single-post {

        #title {
            font-size: calc(1.25vw + 1vh);
        }
    }

    #body {

        pre {
            font-size: calc(1vw + 0.5vh);
        }
    }

    #time-created {
        font-size: calc(1.25vw + 0.5vh);
    }
}