/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.less to edit this template
*/
/*
    Created on : May 2, 2025, 9:43:54 AM
    Author     : justinzhu
*/

#stream-list-component{
    width: 100%;
    height: 100%;
    display: block;
    
    #components-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        
        .component {
            height: 100%;
            display: block;
            position: relative;
        }
        
        .search-streams {
            width: 30%;
            background-color: rgba(50,30,10,0.5);
            border-right: #000000 solid 0.5px;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        }
        
        .stream-displays {
            width: calc(70%);
            background-color: rgba(225, 225, 220, 0.5);
        }
        
    }
}

@media only screen and (max-width: 1000px){

    #stream-list-component {

        #components-wrapper {
            flex-direction: column;

            .component {
                width: 100%;
            }

            .search-streams {
                height: 30% !important;
            }

            .stream-displays {
                height: 70% !important;
            }
        }
    }
}